<div
  class="hover:-tranlate-y-20 justify-top align-center bg-anti-flash-white dark:border-anti-flash-white flex aspect-square w-32 origin-center flex-col border-2 border-jet transition duration-150 ease-in-out hover:translate-x-9 hover:rotate-45 dark:bg-jet"
>
  <div class="my-2 w-full dark:bg-jet">
    <h2
      class="text-border after:left-100: relative text-center text-2xl after:absolute after:whitespace-nowrap after:content-['.'] dark:bg-jet"
    >
      {{ title | uppercase }}
    </h2>
  </div>
</div>
