<div class="snap-y snap-mandatory">
  <div class="h-screen w-screen snap-start snap-always bg-falu-red"></div>
  <div class="h-screen w-screen snap-start snap-always bg-midnight-green"></div>
  <div class="h-screen w-screen snap-start snap-always bg-falu-red"></div>
  <div class="h-screen w-screen snap-start snap-always bg-midnight-green"></div>
  <div class="h-screen w-screen snap-start snap-always bg-falu-red"></div>
  <div class="h-screen w-screen snap-start snap-always bg-midnight-green"></div>
</div>
