<div class=" m-8 max-h-full grid grid-cols-1 justify-center grid-rows-[1fr_1rem_4fr]">
  <div class="m-4 flex-col justify-center">
    <h1 class="name text-center text-3xl md:text-6xl lg:text-9xl">
      {{ "serge" | uppercase }}
    </h1>
    <h1 class="name text-center text-3xl md:text-6xl lg:text-9xl">
      {{ "yanez" | uppercase }}
    </h1>
  </div>
  <div *ngIf="isPhone" class="w-1/2 h-0.5 bg-content items-center justify-center"></div>
  <div class="grid grid-rows-5 m-5 justify-center items-center">
    <app-section-card
      class="-rotate-45"
      title="about"
      (click)="navigateTo('about')"
    ></app-section-card>
    <app-section-card
      class="-rotate-45"
      title="project"
      (click)="navigateTo('projects')"
    ></app-section-card>
    <app-section-card
      class="-rotate-45"
      title="contact"
      (click)="navigateTo('contact')"
    ></app-section-card>
    <app-section-card
      class="-rotate-45"
      title="stats"
      (click)="navigateTo('stats')"
    ></app-section-card>
  </div>
</div>
