<div class="flex h-full w-full flex-col items-center justify-center">
  <app-dark-mode-toggle class="self-end"></app-dark-mode-toggle>
  <div class="flex-col">
    <h1 class="name text-center text-3xl md:text-6xl lg:text-9xl">
      {{ "serge" | uppercase }}
    </h1>
    <h1 class="name text-center text-3xl md:text-6xl lg:text-9xl">
      {{ "yanez" | uppercase }}
    </h1>
  </div>

  <div class="m-5 flex flex-col md:flex-row">
    <app-section-card
      class="-rotate-45"
      title="about"
      (click)="navigateTo('about')"
    ></app-section-card>
    <app-section-card
      class="-rotate-45"
      title="project"
      (click)="navigateTo('projects')"
    ></app-section-card>
    <app-section-card
      class="-rotate-45"
      title="contact"
      (click)="navigateTo('contact')"
    ></app-section-card>
    <app-section-card
      class="-rotate-45"
      title="stats"
      (click)="navigateTo('stats')"
    ></app-section-card>
  </div>
</div>
