/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply h-screen border-jet bg-anti-flash_white text-jet transition duration-500  ease-linear dark:border-anti-flash_white dark:bg-jet dark:text-anti-flash_white;
  }
}

@layer utilities {
  .text-border {
    -webkit-text-stroke: 1px var(--jet); /* For Safari/Chrome */
    text-stroke: 1px var(--jet); /* For Firefox */
    -webkit-text-fill-color: transparent; /* For Safari/Chrome */
    color: transparent; /* Fallback for other browsers */
  }
}

@layer components {
}
