/* You can add global styles to this file and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-anti-flash-white
     dark:border-anti-flash-white dark:text-anti-flash-white h-screen 
     border-jet text-jet  transition 
     duration-500 ease-linear dark:bg-jet;
  }
  :root {
    --jet: 42 43 42;
    --anti-flash-white: 240 243 245;
    --dim-gray: 112 108 97;
    --cosmic-late: 248 244 227;
    --dun: 215 201 170;
    --cerise: 229 68 109;
    --coral: 255 137 102;
    --midnight-green: 25 83 95;
    --skobeloff: 11 122 117;
    --falu-red: 123 45 38;

    --bkg: var(--anti-flash-white);
    --content: var(--jet);
  }

  // @media (prefers-color-scheme: dark) {
  //   :root {
  //     --bkg: var(--jet);
  //     --content: var(--anti-flash-white);
  //   }
  // }
  // :root[data-theme="dark"] {
  //   --bkg: var(--jet);
  //   --content: var(--anti-flash-white);
  // }
}

@layer utilities {
  .text-border {
    -webkit-text-stroke: 1px var(--jet); /* For Safari/Chrome */
    text-stroke: 1px var(--jet); /* For Firefox */
    -webkit-text-fill-color: transparent; /* For Safari/Chrome */
    color: transparent; /* Fallback for other browsers */
  }
}

@layer components {
}
